body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-image: url(drag.png);
    /* image-rendering: pixelated; */
    /* filter: blur(4px); */
}

.header {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.headertext {
    text-align: center;
    color: white;
    margin: 10px;
}

.box {
    background-color: black;
    border: 2px solid #fd1892;
    /* border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%); */
    border-image-slice: 1;
    border-radius: 25px;
    padding: 6px;
    
}

.box:hover {
    background-color: black;
    border: 2px solid rgb(255, 100, 100);
    /* border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%); */
    border-image-slice: 1;
    border-radius: 25px;
    padding: 6px;
    animation: rainbow_animation 6s ease-in-out infinite;
}

@keyframes rainbow_animation {
    10% {
      color: #fd1892;
      border: 2px solid #fd1892;
    }
    20% {
      color: #fec837;
      border: 2px solid #fec837;
    }
    30% {
      color: #b8fd33;
      border: 2px solid #b8fd33;
    }
    40% {
      color: #2c90fc;
      border: 2px solid #2c90fc;
    }
    50% {
      color: #b827fc;
      border: 2px solid #b827fc;
    }
    60% {
        color: #2c90fc;
        border: 2px solid #2c90fc;
      }
    70% {
        color: #b8fd33;
        border: 2px solid #b8fd33;
      }
    80% {
        color: #fec837;
        border: 2px solid #fec837;
      }
    90% {
        color: #fd1892;
        border: 2px solid #fd1892;
      }
  }

.box2 {
    background-color: black;
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
    border-radius: 25px;
    padding: 6px;
}

@media only screen and (max-width: 60000px) {
    .box {width: 40%}
    .box2 {width: 20%}
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card {
    transition: all 0.5s;
    position: relative;
    transition: top ease 0.5s;
    color: white;
    width: 300px;
    height: 125px;
    border: rgb(150, 150, 150) solid 2px;
    border-radius: 25px;
    padding: 10px;
    margin: 20px;
    background-color:rgb(87, 87, 87) ;
    /* transition: all 0.5s; */
    top: 0px;
}


.card:hover {
    transition: all 0.5s;
    border: rgb(255, 78, 78) solid 2px;
    top: -10px;
    /* transition: all 0.5s; */
}


     /* width */
     ::-webkit-scrollbar {
        width: 5px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        background: #f1f1f1; 
      }
       
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #888; 
         border-radius: 15px;
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #555; 
      }